<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(40) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
	            <a href="{{ url_for('user', username=post.author.username) }}">
		            {{ post.author.username }}
	            </a>
            {% endset %}
            <span>{{ _('%(username)s %(when)s发表:', username=user_link, when=moment(post.timestamp).fromNow()) }}</span>
                <a href="{{ url_for('post',id=post.id) }}">
                    <small><span class = 'label label-default'>文章链接</span></small>
                </a>
                {% if current_user.id == post.user_id %}
                    <a href="{{ url_for('edit_post',id=post.id) }}">
                        <small><span class = 'label label-default'>编辑</span></small>
                    </a>  
                {% endif %}
            <br>
            {{ post.body }}
        </td>
    </tr>
</table>