<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
            {{ post.author.username }}</a> 发表:<br>{{ post.body }}
                <div class="post-footer">
                    <a href="{{ url_for('post',id=post.id) }}">
                        <span class = 'label label-default'>文章链接</span>
                    </a>
                    {% if current_user.id == post.user_id %}
                        <a href="{{ url_for('edit_post',id=post.id) }}">
                            <span class = 'label label-default'>编辑</span>
                        </a>  
                    {% endif %}
                </div>  
        </td>
    </tr>
</table>